<!DOCTYPE html>
<html>
<head>
<style>

//useless class to make my links work
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
div.link1{
  position:fixed;
  bottom: 245px;
  left: 185px;
  width: 100px;
}
div.link2{
  position: fixed;
  bottom: 150px;
  left: 100px;
  width: 100px;
}
div.link3{
  position: fixed;
  bottom: 150px;
  left: 300px;
  width: 100px;
}
</style>
</head>
<body> </body>  //useless
</html>
